@font-face {
  font-family: "product_sans_bold_italic";
  src: url("../fonts/product_sans/product_sans_bold_italic-webfont.woff2") format("woff2"), url("../fonts/product_sans/product_sans_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "product_sans_bold";
  src: url("../fonts/product_sans/product_sans_bold-webfont.woff2") format("woff2"), url("../fonts/product_sans/product_sans_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "product_sans_italic";
  src: url("../fonts/product_sans/product_sans_italic-webfont.woff2") format("woff2"), url("../fonts/product_sans/product_sans_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "product_sans_regular";
  src: url("../fonts/product_sans/product_sans_regular-webfont.woff2") format("woff2"), url("../fonts/product_sans/product_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "airbnb_cereal_app_regular";
  src: url("../fonts/airbnbcereal/airbnbcerealbook-webfont.woff2") format("woff2"), url("../fonts/airbnbcereal/airbnbcerealbook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "airbnb_cereal_app_extra_bold";
  src: url("../fonts/airbnbcereal/airbnbcerealextrabold-webfont.woff2") format("woff2"), url("../fonts/airbnbcereal/airbnbcerealextrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "airbnb_cereal_app_light";
  src: url("../fonts/airbnbcereal/airbnbcereallight-webfont.woff2") format("woff2"), url("../fonts/airbnbcereal/airbnbcereallight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "airbnb_cereal_app_medium";
  src: url("../fonts/airbnbcereal/airbnbcerealmedium-webfont.woff2") format("woff2"), url("../fonts/airbnbcereal/airbnbcerealmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "airbnb_cereal_app_black";
  src: url("../fonts/airbnbcereal/airbnbcerealblack-webfont.woff2") format("woff2"), url("../fonts/airbnbcereal/airbnbcerealblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "airbnb_cereal_app_bold";
  src: url("../fonts/airbnbcereal/airbnbcerealbold-webfont.woff2") format("woff2"), url("../fonts/airbnbcereal/airbnbcerealbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.main-menu ul li {
  margin-right: 0;
  margin-left: 26px;
}

.main-menu ul li .submenu {
  left: auto;
  right: 0;
}

.main-menu ul > li.has-dropdown .has-dropdown > a::before {
  right: auto;
  left: -60px;
}

.main-menu ul li .submenu li .submenu {
  left: auto;
  right: 100%;
}

.header-left ul li {
  margin-right: 0;
  margin-left: 80px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-left ul li {
    margin-right: 0;
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-left ul li {
    margin-right: 0;
    margin-left: 20px;
  }
}

.header-lang .lang-icon a {
  margin-left: 0;
  margin-right: 5px;
}

.header-lang .header-lang-list li a img {
  margin-right: 0;
  margin-left: 10px;
}

.hero-content .compatible-device .compatible-device-icon a {
  margin-right: 0;
  margin-left: 6px;
}

.price-item .price-features ul {
  padding-right: 0;
}

.price-item .price-features ul li i {
  margin-right: 0;
  margin-left: 10px;
}

.country-common .country-icon {
  margin-right: 0;
  margin-left: 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-toggle-btn {
    margin-left: 0;
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-toggle-btn {
    margin-left: 0;
    margin-right: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .sidebar-toggle-btn {
    margin-left: 0;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .sidebar-toggle-btn {
    margin-left: 0;
    margin-right: 20px;
  }
}

.pros-open-vpn-list {
  padding-right: 0;
  padding-left: 34px;
}

.pros-open-vpn-list ul li {
  padding-left: 0;
  padding-right: 0;
}

.pros-open-vpn-list ul li::before {
  left: auto;
  width: 20px;
  right: -40px;
}

.faq__wrapper .accordion-item .accordion-header .accordion-button {
  padding-right: 0;
  padding-left: 30px;
}

.faq__wrapper .accordion-item {
  padding-right: 35px;
  padding-left: 15px;
}

.faq__wrapper .accordion-item .accordion-header .accordion-button::after {
  right: auto;
  left: 0;
}

.accordion-body {
  padding-right: 0;
}

@media (max-width: 767px) {
  .pros-open-vpn-list p {
    padding-left: 0;
  }
}

.vpn-protocols-wrapper .vpn-protocols-desc {
  padding-right: 0;
  padding-left: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .vpn-protocols-wrapper .vpn-protocols-desc {
    padding-left: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .vpn-protocols-wrapper .vpn-protocols-desc {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .vpn-protocols-wrapper .vpn-protocols-desc {
    padding-left: 0;
  }
}

.ikev2-desc {
  padding-right: 0;
  padding-left: 26px;
}
@media (max-width: 767px) {
  .ikev2-desc {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .cyberghost-desc.data-sought-desc {
    padding-right: 0;
  }
}

.basic-signin {
  margin-left: 0;
  margin-right: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .basic-signin {
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .basic-signin {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .basic-signin {
    margin-right: 0;
  }
}

.basic-signin input {
  padding-left: 0;
  padding-right: 47px;
}

.signin-form::after {
  left: 0;
  right: 0px;
}

.view-password {
  right: auto;
  left: 12px;
}

.social-media-btn svg {
  margin-right: 0;
  margin-left: 5px;
}

.social-media-btn a {
  margin-right: 0;
  margin-left: 19px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .social-media-btn a {
    margin-left: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .social-media-btn a {
    margin-left: 0;
  }
}

div.digital-invisible-column .nav-link {
  text-align: right;
}

div.digital-invisible-column .nav-link::after {
  left: auto;
  right: 0;
}

.mobile-apps-thumb {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}

.mobile-apps-text p {
  padding-right: 0;
  padding-left: 45px;
}
@media (max-width: 767px) {
  .mobile-apps-text p {
    padding-left: 0;
  }
}

.me-3 {
  margin-left: 1rem !important;
}

.cyberghost-area .cyberghost-right-thumb {
  right: auto;
  left: 145px;
}
@media (max-width: 767px) {
  .cyberghost-area .cyberghost-right-thumb {
    left: 0;
  }
}

.syberghost-single-thumb {
  float: right;
  margin-right: 0;
  margin-left: 40px;
}
@media (max-width: 767px) {
  .syberghost-single-thumb {
    float: none;
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .cyberghost-area .cyberghost-right-thumb {
    left: -175px;
    right: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cyberghost-area .cyberghost-right-thumb {
    left: -175px;
    right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cyberghost-area .cyberghost-right-thumb {
    left: -113px;
    right: auto;
  }
}

@media (max-width: 767px) {
  .cyberghost-single-text p {
    padding-right: 0;
  }
}

.what-vpn-video .play-btn span {
  padding-right: 0;
  padding-left: 16px;
}

.why-need-vpn-text p {
  padding-right: 0;
  padding-left: 36px;
}
@media (max-width: 767px) {
  .why-need-vpn-text p {
    padding-left: 0;
  }
}

.why-need-vpn-text.position-hide-text p {
  padding-left: 0;
}

.forgot-password {
  right: auto;
  left: 0;
}

.forgot-password i {
  margin-right: 0;
  margin-left: 5px;
}

.payment-method-form-wrapper input {
  padding-left: 0;
  padding-right: 45px;
}

.payment-form-icon::after {
  left: 0;
  right: 16px;
}

.feature-btn i {
  margin-left: 0px;
  margin-right: 5px;
}

.solution-wrapper ul li {
  padding-left: 0;
  padding-right: 50px;
}

.solution-wrapper ul li i {
  left: auto;
  right: 16px;
}

.footer_social a i:first-child {
  left: auto;
  right: -60px;
}

.footer_social a:hover i:first-child {
  left: auto;
  right: 0;
  padding: 10px;
}

.footer_social a:hover i:last-child {
  left: auto;
  right: 60px;
}

.footer_social a {
  margin-right: 0px;
  margin-left: 6px;
}

.page-title-nav ul li {
  margin-right: 0;
  margin-left: 25px;
}

.page-title-nav ul li::after {
  right: auto;
  left: -16px;
}

.page-title-wrapper-2 .breadcrumb-btn .btn-border {
  margin-left: 0px;
  margin-right: 25px;
}

.icon-box .icon-box-icon2::before {
  left: auto;
  right: 190px;
}

.icon-box .icon-box-icon1::before {
  left: auto;
  right: 190px;
}

.table-tab .nav-tabs {
  margin-left: 0px;
  margin-right: 10px;
}

.table-form {
  margin-right: 0px;
  margin-left: 8px;
}

.item-inner :is(.flag-thumb) {
  margin-right: 0px;
  margin-left: 20px;
}

.choose-about-wrapper p {
  padding-right: 0px;
  padding-left: 100px;
}
@media (max-width: 767px) {
  .choose-about-wrapper p {
    padding-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .choose-about-wrapper p {
    padding-left: 0px;
  }
}

.table-tab .nav {
  padding-right: 0;
  padding-left: 0px;
}

.nutshell-wrapper {
  padding: 28px 30px 10px 30px;
}

.benifits-tab .nav-tabs .nav-link::after {
  left: auto;
  right: 0;
}

.benifits-tab .tab-content {
  margin-left: 0px;
  padding-right: 40px;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .benifits-tab .tab-content {
    margin-right: 0px;
  }
}

.benifits-tab .nav-tabs .nav-link {
  text-align: right;
}

.promotional-offer .text {
  margin-right: 0px;
  margin-left: 20px;
}

.plan-info .plan-info-icon {
  padding-right: 0px;
  padding-left: 12px;
}

.payment-method {
  padding-left: 0px;
  padding-right: 45px;
}

.payment-method-thumb {
  text-align: right;
  padding-left: 0px;
  padding-right: 45px;
}

.order-summery-wrapper .order-summery-ofer ul li span {
  float: left;
}

.order-summery-wrapper .order-summery-ofer ul {
  padding: 0;
}

/*# sourceMappingURL=rtl.main.css.map */
